

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: grey;
  width: 100%;
}

/* src/App.css */

.main-image-container {
  display: flex;
  margin:  0; /* Add some margin above and below the image */
}

.main-image {
  width:100%;/* Image will take at most 80% of the container's width */
  height: 50rem; /* Maintain the aspect ratio of the image */
  border-radius: 8px; /* Optional: Adds rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
  object-fit: cover; /* Ensures the image scales properly */
}

/* Optional media query to control behavior on smaller screens */
@media (max-width: 768px) {
  .main-image {
    max-width: 95%; /* Slightly increase the max-width on smaller screens */
  }
}

